<!--
More complex example demonstrating advanced features like
- using custom server script to fetch remote data
- using custom modules in safe sandbox
- painting a chart
- using global helpers
- merging custom dynamic header document

Note: This example requires jsreport to be configured with
{ "allowLocalFilesAccess": true } or
{ "extensions": { "scripts": { "allowedModules": ["https"] } } }
!-->
<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js'></script>
    <style>
        {#asset styles_2.css @encoding=utf8}
    </style>   
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="5">
                    <table>
                        <tr>
                            <td class="title">
                                <img src={{logoAzienda IMPIANTO}} style="width:100%; max-width:200px;" />
                            </td>
                            <td>
                                Id movimento #: G_{{id_mov}}
                                <br> Created: {{now}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <p class="intestazione">{{{printIntestazione IMPIANTO}}}</p>
                </td>
            </tr>
            <tr>
                <td class="deposito-destinazione" colspan="5">
                    <p>{{CARRELLO.0.cod_dep_1}}&NonBreakingSpace;•&NonBreakingSpace;{{CARRELLO.0.des_dep_1}}</p>
                    <p>CARICO</p>
                </td>
            </tr>
        </table>
        <div class="arrow">
            <img width="10%" src="{#asset arrow_right.svg @encoding=dataURI}" />
        </div>
        <table>
            <tr class="heading">
                <td>
                    Cod.Art
                </td>
                <td>
                    Des.Art
                </td>
                <td>
                    Q.tà
                </td>
            </tr>
            {{#each CARRELLO}}
            <tr class="item">
                <td>
                    {{cod_art}}
                </td>
                <td>
                    {{des_art}}
                </td>
                <td>
                    {{pFloat quant}}&nbsp;{{um_base}}
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
    <div class="firma">
        Firma
        <img width="300" src={{firma}}></img>
    </div>
    </div>
</body>

</html>